@using Spice.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KK Spicy Food Inc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/all.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/all.min.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/brands.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/brands.min.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/fontawesome.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/regular.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/regular.min.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/solid.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/solid.min.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/svg-with-js.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/svg-with-js.min.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/v4-shims.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/v4-shims.min.css" />
</head>
<body class="search-background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/mild.png" />
                    <img src="~/images/spicy.png" />
                    <img src="~/images/verySpicy.png" />
                    <label class="text-info" style="cursor:pointer">KK Spicy Food</label>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">




                        <li style="color:white">
                            <a href="#" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> (0)
                            </a>
                        </li>



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top pl-3 footer text-white-50" style="background-color:#343a40">
        <div class="container">
            &copy; 2020 - Spice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/fe5e8plqzwuftl4k8qmujav77n7u1sja2zcpjpy2wwvei9i2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
